Body{
    background-color:#FFEFD5;
    margin: 0;
    padding: 0;
}

#bem-vindo{
    position: absolute;
    color: darkslategray;
    margin-left: 5%;
    font-style: italic;

}


header{
    position: relative;
    background-color: #ffff8c;
    height: 25vh;
    width: 100vw;
    margin-left:5;
    padding-top:20px;
    text-align: center;

}

aside {
    position: relative;
    display: inline-block;
    width: 100vw;
    height: 10vh;
    padding-top: 0;
    text-align: center;
    background-color: white;
    
}
.menu ul{
display:inline;
}
.menu li {
    display: inline-flex;
    height: 10vh;
    margin-left: 10px;   
    margin-right: 10px;
    font-family: cursive;
    font-style: italic;
    font-size: 20px;;
}
nav.menu li:hover {
  background-color: #ffff8c;
  transition: 2s;

}


.menu a{
    display: flex;
    text-align: center;
    padding: 10px;
    color:#201b21;
    
}

main {
    background-color: green;
    position: relative;
    height: 50vh;
    width: ;: 100vw;
    text-align: :left;
    font-size: 25px;
    padding-left: 250px;
    padding-right: 250px;
}


#venda{
    position: relative;
    display:inline-flexbox;
    height: 40vh;

}

#venda label{
    font-size: 20px;
    width: 15vw;
    

}

#venda input{
    height: 20px;
    width:10vw;

}

select {
    height: 20px;
    width: 10vw;
    font-size: 15px;
    
}

footer{
    display: inline-flex;
    width: 100vw;
    background-color: white;
    justify-content: center;
    text-align: center;
    position: relative;
    font-weight: bolder;
}

.social-midia img {
    display: inline-block;
    height: 4vh;
    margin-left:15px;
    margin-right:15px;
}
