Nivel-01
    ustify-content: flex-end;
Nivel-02
    justify-content: center;
Nivel-03
    justify-content: space-around;
Nivel-04
    justify-content: space-between;
Nivel-05
    align-items: flex-end;
Nivel-06
    justify-content: space-around;
    align-items: center;
Nivel-07
    justify-content: space-around;
    align-items: flex-end;
Nivel-08
    flex-direction: row-reverse;
Nivel-09
    flex-direction:column;
Nivel-10
    flex-direction: row-reverse;
    justify-content: flex-end;
Nivel-11
    flex-direction: column;
    justify-content: flex-end;
Nivel-12
    flex-direction: column-reverse;
    justify-content: space-between;
Nivel-13
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;
Nivel-14
    order: 3;
Nivel-15
    order: -3
Nivel-16
    align-self: flex-end;
Nivel-17
order: 2;
    align-self: flex-end;
Nivel-18
    flex-wrap: wrap;
Nivel-19
    flex-direction: column;
flex-wrap: wrap;
Nivel-20
    flex-flow: column wrap;
Nivel-21
    align-content: flex-start
Nivel-22
    align-content: flex-end
Nivel-23
    flex-direction: column-reverse;
    align-content: center;
Nivel-24
    flex-flow: column-reverse wrap-reverse;
    align-items: flex-start;
    justify-content: center;
    align-content: space-between
